* {
  .border-radius(0) !important;
}

#field {
    margin-bottom:20px;
}

input.input {
    margin-right:1%;
    width:40%;
    float:left;
}

input[name~=image_upload] {
  cursor: pointer;
  position: absolute;
  z-index: 1;
  opacity: 0;
  filter: alpha(opacity=0);
}
