{% import 'macros/form.html' as form %}

{% resource 'galleryview/edit_view.css' %}
{% resource 'galleryview/create_input.js' %}
{% resource 'galleryview/immediate-image-upload.js' %}

<!--

<div>
    <div class="control-group">
        <label class="control-label" for="field1">{{ _('Image url') }}</label>
		<div class="controls" id="profs">
            <form class="input-append">
                <div id="field">
					 creating the first input with the add button here and checking whether there is already a url stored
					 and when clicking the add button, it calls the create_input.js and creates additional inputs
					{% set link = '' %}
					{% set name = '' %}
					{% if urls|length > 0 %}
						{% set link = urls[0] %}
						{% set name = imgs[0] %}
					{% endif %}
					<input autocomplete="off" class="input" id="field1" name="fields" type="text" placeholder="link eg. http://example.com/image.jpg" value="{{ link }}" />
					<input autocomplete="off" class="input" id="image_name1" name="image_names" type="text" placeholder="name of the image" value="{{ name }}"/>
					<button id="addbtn" data-module="create_input" data-module-field="button" class="btn btn-success" type="button">+</button>
                    <div id="field"></div>
				</div>
            </form>
        </div>
    </div>

inserting all urls that are already stored (by calling the create_input.js each time)
except for the first stored url because it was already inserted above
{% for field in urls %}
	{% if loop.index != 1 %}
		<input type="text" disabled="disabled" style="display: none;" data-module="create_input" data-module-field="{{ field }}" data-module-imagename="{{ imgs[loop.index-1] }}"></input>
	{% endif %}
{% endfor %}
-->
{% macro image_upload(data, resource_id, errors, field_url='image_url', field_upload='image_upload', field_clear='clear_upload',
                      is_url=false, is_upload=false, is_upload_enabled=false, placeholder=false,
                      url_label='', upload_label='')  %}
  {% set placeholder = placeholder if placeholder else _('http://example.com/my-image.jpg') %}
  {% set url_label = url_label or _('Image URL')  %}
  {% set upload_label = upload_label or _('Image')  %}

  {% if is_upload_enabled %}
  <div class="image-upload" data-module="immediate-image-upload" data-module-is_url="{{ 'true' if is_url else 'false' }}" data-module-is_upload="{{ 'true' if is_upload else 'false' }}"
       data-module-field_url="{{ field_url }}" data-module-field_upload="{{ field_upload }}" data-module-field_clear="{{ field_clear }}" data-module-upload_label="{{ upload_label }}" data-module-data_dict="{{ data }}" data-module-resource_id="{{ resource_id }}">
  {% endif %}

  {{ form.input(field_url, label=url_label, id='field-image-url', placeholder=placeholder, value=data.get(field_url), error=errors.get(field_url), classes=['control-full']) }}

  {% if is_upload_enabled %}
    {{ form.input(field_upload, label=upload_label, id='field-image-upload', type='file', placeholder='', value='', error='', classes=['control-full']) }}
    {% if is_upload %}
      {{ form.checkbox(field_clear, label=_('Clear Upload'), id='field-clear-upload', value='true', error='', classes=['control-full']) }}
    {% endif %}
  {% endif %}

  {% if is_upload_enabled %}</div>{% endif %}

{% endmacro %}

{% set is_upload = data.image_url|length > 0 and not data.image_url.startswith('http') %}
{% set is_url = data.image_url|length > 0 and data.image_url.startswith('http') %}
{{ image_upload(data, resource_id, errors, is_upload_enabled=h.uploads_enabled(), is_url=is_url, is_upload=is_upload) }}
