{% resource 'galleryview/edit_view.css' %}
{% resource 'galleryview/immediate-image-upload.js' %}

<div id="masterdiv">
    {% for image_url in image_urls %}
        {% if image_url|length > 0 %}
            {% set is_upload = not image_url.startswith('http') %}
            {% set is_url = image_url.startswith('http') %}
            <div data-module="immediate-image-upload" data-module-is_url="{{ 'true' if is_url else 'false' }}" data-module-is_upload="{{ 'true' if is_upload else 'false' }}"
                 data-module-field_url="image_url" data-module-field_upload="image_upload" data-module-field_clear="clear_upload" data-module-upload_label="{{ image_url }}"
                 data-module-data_dict="{{ data }}" data-module-resource_id="{{ resource_id }}" data-module-type="div" data-module-image_name="{{ image_names[loop.index-1]}}"></div>
        {% else %}
            <div data-module="immediate-image-upload" data-module-is_url="false" data-module-is_upload="false"
                 data-module-field_url="image_url" data-module-field_upload="image_upload" data-module-field_clear="clear_upload" data-module-upload_label=""
                 data-module-data_dict="{{ data }}" data-module-resource_id="{{ resource_id }}" data-module-type="div" data-module-image_name="{{ image_names[loop.index-1]}}"></div>
        {% endif %}
    {% endfor %}
    <button id="addbtn" data-module="immediate-image-upload" data-module-is_url="false" data-module-is_upload="false"
         data-module-field_url="image_url" data-module-field_upload="image_upload" data-module-field_clear="clear_upload" data-module-upload_label=""
         data-module-data_dict="{{ data }}" data-module-resource_id="{{ resource_id }}" data-module-type="button" class="btn btn-success" type="button">Add Image</button>
</div>
